<div class="contactSelector" >
  <div [hidden]="!focused || value">
    <mat-card [formGroup]="searchForm"
              fxLayout="column"
              fxLayoutGap="20px">
        <mat-form-field>
          <input matInput placeholder="Find existing contact" value="">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
          <mat-divider fxFlex=""></mat-divider>
          <div class="orDivider" fxFlex="nogrow">Or</div>
          <mat-divider fxFlex=""></mat-divider>
        </div>
        <div fxLayoutAlign="center center">
          <button mat-stroked-button type="button">Add New Contact</button>
        </div>

    </mat-card>
  </div>
  <div *ngIf="value">
    Contact Name goes here with x for remove
  </div>
</div>
